@model List<Movie>

@{
    ViewBag.Title = "My Projects";
}

<h2>Project List</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Projects Available
            </th>
            <th>
                Project Description
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a asp-controller="Movie" asp-action="Index">Movie List</a>
            </td>
            <td>Project with Database of Movies to edit or delete or add new movie to database</td>
        </tr>
        <tr>
            <td>
                <a asp-controller="Contact" asp-action="Index">Contact List</a>
            </td>
            <td>Project with Database of Contacts to edit or delete or add new movie to database</td>
        </tr>
    </tbody>
</table>